{% extends "base.html" %}

{% block title %}About Portfolio{% endblock title %}

{% block nav_additional_nav_items%}
<li class="nav-item">
  <a class="nav-link" href="{% url 'project_list' %}"> Portfolio Projects</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'portfolioAbout' %}">About Portfolio</a>
</li>

{% endblock nav_additional_nav_items%}
{% block content %}
<h1>About Portfolio App</h1>
<h2>Why</h2>
<p>
    This app was developed as a learning activity when learning to use Django framework.
    I was following an online course in Udemy, by Nick Walter, a very engaging presenter. He was creating a Pig Latin Translator, but I decided
    I wanted to provide the basis for our students to create a porfolio website to showcase their work.
</p>

<h2>Who</h2>
<p>
  I am Benedicte, a former software developer turned educator. I design IT courses for a tertiary training institute (vocational training).
  Before I can teach stuff, I need to learn it...
</p>
<h2>What</h2>
<p>
  While creating this web app, I am learning to use the following tools and technologies:
    <ul>
        <li>Django, web framework</li>
        <li>Python, programming language</li>
        <li>Atom, text editor</li>
        <li>Git and Git Hub, version control and collaboration</li>
        <li>SQLite, database management system</li>
        <li>Bootstrap</li>
    </ul>
</p>
<h2>When</h2>
<p>
    2017
</p>

        {% endblock content %}
