<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About MyPortfolio</title>
    </head>
    <body>
        <h1>About My Portfolio</h1>
        <h2>Why</h2>
        <p>
            This app was developed as a learning activity when learning to use Django framework.
            I was following an online course in Udemy, by Nick Walter, a very engaging presenter. He was creating a Pig Latin Translator, but I decided
            I wanted to provide the basis for our students to create a porfolio website to showcase their work.
        </p>

        <h2>Who</h2>
        <p>
        I am Benedicte, a former software developer turned educator. I design IT courses for a tertiary training institute (vocational training).
        Before I can teach stuff, I need to learn it...
        </p>
        <h2>What</h2>
        <p>
        While creating this web app, I am learning to use the following tools and technologies:
            <ul>
                <li>Django, web framework</li>
                <li>Python, programming language</li>
                <li>Atom, text editor</li>
                <li>Git and Git Hub, version control and collaboration</li>
                <li>SQLite, database management system</li>
                <li></li>
            </ul>
        </p>
        <h2>When</h2>
        <p>
            Copyright (c) 2017 Benedicte Florin All Rights Reserved.
        </p>

        <h2>Navigation</h2>

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
        		<li><a href="{% url 'portfolioHome' %}">Portfolio Home</a></li>
        		<li><a href="{% url 'portfolioAbout' %}">About Portfolio</a></li>
                <li><a href="{% url 'project_list' %}"> My Projects</a></li>
            </ul>
        </nav>
    </body>
</html>
