<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Portfolio Home</title>
</head>
<body>
  <h1>Welcome to My Portfolio!</h1>

  <p>
      In this portfolio, you can showcase some of your past and current projects, such as:
      <ul>
          <li>Personal projects (hobbies, personal endaevours and achievements)</li>
          <li>Work projects (projects which you contributed to at work)</li>
          <li>Study projects (learning exercises and practices during formal and informal study)</li>
      </ul>
  </p>


   <form action="{% url 'addProject' %}">
       <button type="submit" name="addProject" value="submit">Add New Project</button>
      <label for="projectName">Project title: </label>
      <input type="text" name="projectName" value="enter project name"/>
  </form>



  <nav>
      <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'portfolioHome' %}">Portfolio Home</a></li>
          <li><a href="{% url 'portfolioAbout' %}">About Portfolio</a></li>
          <li><a href="{% url 'project_list' %}"> My Projects</a></li>
      </ul>
  </nav>

</body>
</html>
