<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolio Project Details</title>
    </head>
    <body>
        <h1>My Portfolio</h1>
        <h2>Project Details</h2>

        <form action="{% url 'saveProject' %}">
            <label for="projectName">Project title: </label>
            <input type="text" name="projectName" value="{{projectName}}" />
            <label for="projectDescription">Description: </label>
            <input type="text" name="projectDescription" value="tell me about it" />
           <button type="submit" name="saveProject" value="submit">Save Project</button>
           <!-- the view will save project to database -->
        </form>


        <p>
          Back to <a href="{% url 'portfolio' %}">home</a>
        </p>
    </body>
</html>
