  {% extends "base.html" %}

  {% block title %}My Journey {% endblock title %}

  {% block content %}

    <h1>My Journey</h1>
    <p>Welcome to My Journey!</p>

    <h2>Recent Posts</h2>
    {% for post in posts.all %}
      <h3><a href="{% url 'post' post.id %}">{{ post.title }}</a></h3>
      <p>ID {{ post.id }}:
        {{ post.publishDateShort }}
        <br />
        {{ post.summary }}
      </p>

      <img src="{{ post.image.url }}" height="50px" alt="{{ post.altImage }}"/>
    {% endfor %}

{% endblock content %}
