<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog Post</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />

    </head>
    <body>
        <h1>My Journey</h1>
        <h2>Blog Post</h2>


        <form>
            <label for="postTitle">Title: </label>
            <input type="text" name="postTitle" value="{{ post.title }}" />
        <br />
            <label for="postText">Text: </label>
             <input type="text" name="postText" value="{{ post.text }}"/>
             <br />
             <h3>Images</h3>
             <img src="{{ post.image.url }}"  width=650px alt="{{ post.altImage }}"/>

          <!-- <button type="submit" name="saveProject" value="submit">Save Project</button>
           the view will save project to database -->
        </form>


        <h2>Navigation</h2>
        <nav>
             <ul>
                 <li><a href="{% url 'home' %}">Home</a></li>
                 <li><a href="{% url 'blogHome' %}">Blog Home</a></li>
             </ul>
        </nav>

    </body>
</html>
