{% extends "base.html" %}

{% block title %}My Journey {% endblock title %}

{% block content %}

<h1>About Stories, my first Django site</h1>
  I have been following steps from several tutorials, but primarily this one:
  <ul>
    <li>
      <a href="https://www.udemy.com/the-ultimate-beginners-guide-to-django-python-web-dev-website">
        The ultimate beginner's guide to django & python web dev website</a>
      by Nick Walter, from Udemy
    </li>
  </ul>
  <p>
    Other tutorials I have used include, by order of preference:
  </p>
  <ol>
    <li>
      The <a href="https://docs.djangoproject.com/en/2.0/">Django Project website</a> has all the reference documentation,
      which is very well written, so really this should be your nr.1 stop.
    </li>
    <li>
      <a href="https://docs.djangoproject.com/en/2.0/intro/tutorial01/">Writing your first Django app</a> - <em>the</em>
      Django Project tutorial itself - <em>very useful</em> - has direct links to all the ref documentation (see nr. 1) that you need.
    </li>
    <li>
      <a href="https://ebookcentral.proquest.com/lib/weltec/reader.action?docID=4773880">Mastering Django: Core</a>,
      a thorough book by Nigel George (2016). This book provides useful
      background information that is complementary to the practical instructions in the various tutorials.
      Helps you understand why things are as they are.
    </li>
    <li>
      <a href="https://tutorial.djangogirls.org/en/">Django Girls tutorial</a>, nice and practical.
    </li>
    <li>
      <a href="https://scotch.io/tutorials/working-with-django-templates-static-files">Django Templates and Static Files</a>
      by Amos Omondi from Scotch IO
    </li>
    <li>
      <a href="https://ultimatedjango.com/learn-django/chapters/">Ultimate Django</a> website
    </li>
    <li>
      various discussions on <a href="https://stackoverflow.com/">stackoverflow</a>, when troubleshooting issues
    </li>

  </ol>

{% endblock content %}
