{% extends "base.html" %}

{% block title %}Stories{% endblock title %}
{% block nav_additional_nav_items%}
<li class="nav-item">
  <a class="nav-link" href="{% url 'about' %}">About Stories</a>
</li>
{% endblock nav_additional_nav_items%}

{% block content %}
  <h1>FIRST DJANGO PROJECT HOME PAGE: My Stories</h1>
  <p>
        I have two apps:
  </p>
  <ul>
      <li><a href="{% url 'portfolioHome' %}">Portfolio</a> - where I showcase projects I ahve completed</li>
      <li><a href="{% url 'blogHome' %}">Blog</a>- where I talk about my project on current projects</li>
  </ul>
{% endblock content %}
